::selection {
  background-color: rgb(233, 18, 72) !important;
  color: white !important;
}


.main-btn{
  padding: 0.5em;
  background-color: #dd8f11 !important;
  color: #ffffff !important;
  border: none;
  letter-spacing: 5px;
}

.main-btn:hover{
  background-color: #ffffff !important;
  color: #dd8f11 !important;
  border: 1px solid #dd8f11 !important;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
